In [41]:
import pandas as pd
import numpy as np
import datetime as dt

In [42]:
pd.options.display.max_columns = None

In [43]:
df = pd.read_excel('EDERJAKIN_LA_Datos_2021.xlsm', sheet_name=None)

In [44]:
for sheet_name in list(df.keys()):
   df[sheet_name].to_csv(sheet_name + 'Sheet.csv')

In [45]:
Usuarios = pd.read_csv('UsuariosSheet.csv')
Tutores_perfil = pd.read_csv('Tutores perfilSheet.csv')
Conocimientos = pd.read_csv('ConocimientosSheet.csv')
Cursos = pd.read_csv('CursosSheet.csv')
Programas = pd.read_csv('ProgramasSheet.csv')
Cursos_en_Programas = pd.read_csv('Cursos en ProgramasSheet.csv')
Itinearios = pd.read_csv('ItineariosSheet.csv')
Notas_Cursos = pd.read_csv('Notas_CursosSheet.csv')
Roles = pd.read_csv('RolesSheet.csv')
Plantas = pd.read_csv('PlantasSheet.csv')
Accesos = pd.read_csv('AccesosSheet.csv')
Acceso_1ero_ultimo = pd.read_csv('Acceso_1ero_ultimoSheet.csv')
Actividades = pd.read_csv('ActividadesSheet.csv')

In [46]:
Usuarios

,Unnamed: 0,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN
1,1,4,username_04,1,es,NaN,14.0,0,0,1,0,Fagorederlan,NaN
2,2,5,username_05,1,es,NaN,15.0,0,0,1,0,ABP Arrasate,NaN
3,3,6,username_06,1,es,NaN,17.0,0,0,1,0,Fagorederlan,NaN
4,4,7,username_07,1,es,NaN,18.0,0,0,1,0,ABP Arrasate,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,432,username_432,1,es,NaN,457.0,0,0,1,0,MT Aretxabaleta,NaN
416,416,433,username_433,1,es,NaN,458.0,0,0,1,0,MT Aretxabaleta,NaN
417,417,434,username_434,1,es,NaN,459.0,0,0,1,0,MT Aretxabaleta,NaN
418,418,435,username_435,1,es,NaN,460.0,0,0,1,0,MT Aretxabaleta,NaN
419,419,436,username_436,1,es,NaN,461.0,0,1,1,1,ABP Bergara,NaN

In [47]:
#Nombre de columnas
Usuarios.columns

Index(['Unnamed: 0', 'user_id', 'useranonimo_name', 'active_flag', 'language',
       'last_access', 'mdl_user_id', 'role_admin', 'role_manager',
       'role_student', 'role_tutor', 'planta_name', 'Unnamed: 11'],
      dtype='object')

In [48]:
#Numero de columnas/filas
Usuarios.shape

(420, 13)

In [49]:
Usuarios.info

<bound method DataFrame.info of      Unnamed: 0  user_id useranonimo_name  active_flag language  last_access  \
0             0        3      username_03            1       es          NaN
1             1        4      username_04            1       es          NaN
2             2        5      username_05            1       es          NaN
3             3        6      username_06            1       es          NaN
4             4        7      username_07            1       es          NaN
..          ...      ...              ...          ...      ...          ...
415         415      432     username_432            1       es          NaN
416         416      433     username_433            1       es          NaN
417         417      434     username_434            1       es          NaN
418         418      435     username_435            1       es          NaN
419         419      436     username_436            1       es          NaN

     mdl_user_id  role_admin  role_manager  role_student  role_tutor  \
0           13.0           0             0             1           0
1           14.0           0             0             1           0
2           15.0           0             0             1           0
3           17.0           0             0             1           0
4           18.0           0             0             1           0
..           ...         ...           ...           ...         ...
415        457.0           0             0             1           0
416        458.0           0             0             1           0
417        459.0           0             0             1           0
418        460.0           0             0             1           0
419        461.0           0             1             1           1

         planta_name  Unnamed: 11
0        ABP Bergara          NaN
1       Fagorederlan          NaN
2       ABP Arrasate          NaN
3       Fagorederlan          NaN
4       ABP Arrasate          NaN
..               ...          ...
415  MT Aretxabaleta          NaN
416  MT Aretxabaleta          NaN
417  MT Aretxabaleta          NaN
418  MT Aretxabaleta          NaN
419      ABP Bergara          NaN

[420 rows x 13 columns]>

In [50]:
#Tipos de variables
Usuarios.dtypes

Unnamed: 0            int64
user_id               int64
useranonimo_name     object
active_flag           int64
language             object
last_access         float64
mdl_user_id         float64
role_admin            int64
role_manager          int64
role_student          int64
role_tutor            int64
planta_name          object
Unnamed: 11         float64
dtype: object

In [51]:
#Duplicados
Usuarios.duplicated().sum() # busca duplicados de fila completa

0

In [52]:
#NA'S
Usuarios.isna()
#Eliminamos last_acceses por %100 de NA'S 
Usuarios.isna().sum()

Unnamed: 0            0
user_id               0
useranonimo_name      0
active_flag           0
language              0
last_access         420
mdl_user_id          15
role_admin            0
role_manager          0
role_student          0
role_tutor            0
planta_name           0
Unnamed: 11         420
dtype: int64

In [53]:
Usuarios["mdl_user_id"] = Usuarios["mdl_user_id"].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [54]:
#Se quitan o no 15 mdl_user_id en caso de que no necesitemos la variable
Usuarios=Usuarios.dropna(subset = ['mdl_user_id'])

In [55]:
Tutores_perfil

     Unnamed: 0  perfil_id  user_id        perfil_name
0             0          3       10  Gestor de empresa
1             1          3       41  Gestor de empresa
2             2          3       42  Gestor de empresa
3             3          3      110  Gestor de empresa
4             4          3      115  Gestor de empresa
..          ...        ...      ...                ...
183         183          0      358                NaN
184         184          0      369                NaN
185         185          0      379                NaN
186         186          0      415                NaN
187         187          0      423                NaN

[188 rows x 4 columns]

In [56]:
Tutores_perfil.columns

Index(['Unnamed: 0', 'perfil_id', 'user_id', 'perfil_name'], dtype='object')

In [57]:
Tutores_perfil=Tutores_perfil.drop(['Unnamed: 0'], axis=1)

In [58]:
#Tipos de variables
Tutores_perfil.dtypes

perfil_id       int64
user_id         int64
perfil_name    object
dtype: object

In [59]:
#Duplicados
Tutores_perfil.duplicated().sum() # busca duplicados de fila completa

0

In [60]:
#NA'S
Tutores_perfil.isna()
#Eliminamos last_acceses por %100 de NA'S 
Tutores_perfil.isna().sum()

perfil_id       0
user_id         0
perfil_name    70
dtype: int64

In [61]:
Tutores_perfil.shape

(188, 3)

In [62]:
Tutores_perfil = Tutores_perfil.fillna("Tutores basicos")

In [63]:
Tutores_perfil

     perfil_id  user_id        perfil_name
0            3       10  Gestor de empresa
1            3       41  Gestor de empresa
2            3       42  Gestor de empresa
3            3      110  Gestor de empresa
4            3      115  Gestor de empresa
..         ...      ...                ...
183          0      358    Tutores basicos
184          0      369    Tutores basicos
185          0      379    Tutores basicos
186          0      415    Tutores basicos
187          0      423    Tutores basicos

[188 rows x 3 columns]

In [64]:
Conocimientos

,Unnamed: 0,conocimiento_id,conocimiento_name,color,created_by,description,categoria_conocimiento_id,referencia,categoria_conocimiento_name
0,0,161,35UP,NaN,134,NaN,158,NaN,Técnico Tecnologico ABP Referencias
1,1,21,ABP,#ff4c05,135,NaN,0,NaN,NaN
2,2,157,ACABADO - Control Visual,NaN,134,NaN,79,NaN,TÉCNICOS/TECNOLÓGICOS ABP
3,3,42,ACABADO - Tratamiento Térmico,NaN,135,NaN,42,NaN,ACABADO - Tratamiento Térmico
4,4,90,ACABADO_Tratamiento Térmico,NaN,145,NaN,79,NaN,TÉCNICOS/TECNOLÓGICOS ABP
...,...,...,...,...,...,...,...,...,...
150,150,8,TECNICOS_DUAL,NaN,132,NaN,5,NaN,DUAL
151,151,104,U_ACOGIDA GENERAL,NaN,190,NaN,11,NaN,ACOGIDA
152,152,106,U_MECANIZADO,NaN,190,(DESCRIPCION DEL CONOCIMIENTO?),7,NaN,TÉCNICOS
153,153,105,U_SOCIETARIO,NaN,190,U: (DESCRIPCION DEL CONOCIMIENTO),17,NaN,SOCIETARIOS
154,154,159,UKL,NaN,134,NaN,158,NaN,Técnico Tecnologico ABP Referencias

In [65]:
#Nombre de columnas
Conocimientos.columns

Index(['Unnamed: 0', 'conocimiento_id', 'conocimiento_name', 'color',
       'created_by', 'description', 'categoria_conocimiento_id', 'referencia',
       'categoria_conocimiento_name'],
      dtype='object')

In [66]:
Conocimientos=Conocimientos.drop(['Unnamed: 0'], axis=1)
Conocimientos=Conocimientos.drop(['color'], axis=1)

In [67]:
#Tipos de variables
Conocimientos.dtypes

conocimiento_id                 int64
conocimiento_name              object
created_by                      int64
description                    object
categoria_conocimiento_id       int64
referencia                     object
categoria_conocimiento_name    object
dtype: object

In [68]:
#Duplicados
Conocimientos.duplicated().sum() # busca duplicados de fila completa

0

In [69]:
#NA'S
Conocimientos.isna()
#Eliminamos last_acceses por %100 de NA'S 
Conocimientos.isna().sum()

conocimiento_id                  0
conocimiento_name                0
created_by                       0
description                    138
categoria_conocimiento_id        0
referencia                     122
categoria_conocimiento_name     22
dtype: int64

In [70]:
Conocimientos.shape

(155, 7)

In [71]:
Conocimientos=Conocimientos.drop(['description'], axis=1)
Conocimientos=Conocimientos.drop(['referencia'], axis=1)

In [72]:
Conocimientos = Conocimientos.fillna("Sin asignar")

In [73]:
Cursos

,Unnamed: 0,course_id,course_name,category,hours,course_shortname,sortorder,summary
0,0,1,EDERJakin FagorEDERLAN,0,0,EDERJAKIN,1,NaN
1,1,2,ITINERARIO GRADO DUAL 2018/19,3,0,ITI_GRADO_DUAL_18/19,40016,Itinerario de Aprendizaje del GRADO DUAL en Fa...
2,2,6,ITINERARIO CICLO DUAL 2018/19,3,0,ITI_CICLO_DUAL_18/19,40014,Itinerario de Aprendizaje del CICLO DUAL en Fa...
3,3,9,TEC_01 - PRODUCTOS FAGOR EDERLAN,3,4,TEC_01,40022,Conocer los PRODUCTOS fabricados de Fagor EDERLAN
4,4,10,TEC_02 - PROCESOS PRODUCTIVOS,3,20,TEC_02,40024,Conocer los PROCESOS PRODUCTIVOS de Fagor EDERLAN
...,...,...,...,...,...,...,...,...
134,134,303,CONTROL VISUAL MEC - MLA IKUS KONTROLA,27,0,TEC_CVMEC_02_MLA,110003,NaN
135,135,304,CONTROL VISUAL MEC - BR IKUS KONTROLA,27,0,TEC_CVMEC_02_BR,110002,NaN
136,136,305,CONTROL VISUAL MEC - UKL,27,0,TEC_CVMEC_01_UKL,110001,NaN
137,137,306,CURSO UXUE,27,0,TEC_ABP_UXUE,0,NaN
138,138,307,FUSIOA ABP - FUSIO DORREA N2,27,40,_ALDATU_,0,NaN

In [74]:
#Nombre de columnas
Cursos.columns

Index(['Unnamed: 0', 'course_id', 'course_name', 'category', 'hours',
       'course_shortname', 'sortorder', 'summary'],
      dtype='object')

In [75]:
Cursos=Cursos.drop("course_shortname",axis=1)
Cursos=Cursos.drop("Unnamed: 0",axis=1)

In [76]:
#Tipos de variables
Cursos.dtypes

course_id       int64
course_name    object
category        int64
hours           int64
sortorder       int64
summary        object
dtype: object

In [77]:
#Duplicados
Cursos.duplicated().sum() # busca duplicados de fila completa

0

In [78]:
Cursos.shape

(139, 6)

In [79]:
#NA'S
Cursos.isna()
#Eliminamos last_acceses por %100 de NA'S 
Cursos.isna().sum()

course_id       0
course_name     0
category        0
hours           0
sortorder       0
summary        95
dtype: int64

In [80]:
Cursos = Cursos.fillna("No especificado")

In [81]:
Programas

,Unnamed: 0,program_id,program_name,program_category_id
0,0,60,ITI CICLO DUAL 2019-2020,DUAL
1,1,61,Programa PILOTO,TÉCNICO
2,2,62,Maquinista Mecanizado ABP Bergara,TÉCNICO
3,3,63,nvnvbn,DUAL
4,4,64,ITI GRADO DUAL 2019-2020,DUAL
...,...,...,...,...
105,105,184,Maquinista Mecanizados LPPFe,ESPECIALISTA
106,106,185,Operario de Macheria LPC,SOPORTE&OPERARIO
107,107,186,PERTSONALAK,GESTIÓN
108,108,187,Control Visual Bruto,SOPORTE&OPERARIO
109,109,188,Control Visual Mec ABP,SOPORTE&OPERARIO

In [82]:
#Nombre de columnas
Programas.columns

Index(['Unnamed: 0', 'program_id', 'program_name', 'program_category_id'], dtype='object')

In [83]:
#Numero de columnas/filas
Programas.shape

(110, 4)

In [84]:
Programas.info

<bound method DataFrame.info of      Unnamed: 0  program_id                       program_name  \
0             0          60           ITI CICLO DUAL 2019-2020
1             1          61                    Programa PILOTO
2             2          62  Maquinista Mecanizado ABP Bergara
3             3          63                             nvnvbn
4             4          64           ITI GRADO DUAL 2019-2020
..          ...         ...                                ...
105         105         184       Maquinista Mecanizados LPPFe
106         106         185           Operario de Macheria LPC
107         107         186                        PERTSONALAK
108         108         187               Control Visual Bruto
109         109         188             Control Visual Mec ABP

    program_category_id
0                  DUAL
1               TÉCNICO
2               TÉCNICO
3                  DUAL
4                  DUAL
..                  ...
105        ESPECIALISTA
106    SOPORTE&OPERARIO
107             GESTIÓN
108    SOPORTE&OPERARIO
109    SOPORTE&OPERARIO

[110 rows x 4 columns]>

In [85]:
#Tipos de variables
Programas.dtypes

Unnamed: 0              int64
program_id              int64
program_name           object
program_category_id    object
dtype: object

In [86]:
#Duplicados
Programas.duplicated().sum() # busca duplicados de fila completa

0

In [87]:
#NA'S
Programas.isna()
Programas.isna().sum()

Unnamed: 0             0
program_id             0
program_name           0
program_category_id    1
dtype: int64

In [88]:
#Eliminamos la fila que contiene NA en program_category_id.
Programas=Programas.dropna(axis = 0, how = 'any') 
Programas.isna().sum()

Unnamed: 0             0
program_id             0
program_name           0
program_category_id    0
dtype: int64

In [89]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Programas=Programas.drop(['Unnamed: 0'], axis=1)

In [90]:
Programas

     program_id                       program_name program_category_id
0            60           ITI CICLO DUAL 2019-2020                DUAL
1            61                    Programa PILOTO             TÉCNICO
2            62  Maquinista Mecanizado ABP Bergara             TÉCNICO
3            63                             nvnvbn                DUAL
4            64           ITI GRADO DUAL 2019-2020                DUAL
..          ...                                ...                 ...
105         184       Maquinista Mecanizados LPPFe        ESPECIALISTA
106         185           Operario de Macheria LPC    SOPORTE&OPERARIO
107         186                        PERTSONALAK             GESTIÓN
108         187               Control Visual Bruto    SOPORTE&OPERARIO
109         188             Control Visual Mec ABP    SOPORTE&OPERARIO

[109 rows x 3 columns]

In [91]:
Cursos_en_Programas

,Unnamed: 0,program_course_online_id,course_moodle_id,conocimiento_id,num_periodo,program_id,course_moodle_id.1,conocimiento_name,program_name
0,0,5717,72,24,1,187,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto
1,1,5718,70,20,1,187,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Control Visual Bruto
2,2,5719,297,157,1,187,CONTROL VISUAL GENÉRICO - LANDUGABEA IKUS KONT...,ACABADO - Control Visual,Control Visual Bruto
3,3,5723,298,165,0,188,CONTROL VISUAL MEC. GENÉRICO - IKUS KONTROLA,MECANIZADO,Control Visual Mec ABP
4,4,5724,299,40,0,188,CONTROL VISUAL MEC - G2X IKUS KONTROLA,MECANIZADO - G2X,Control Visual Mec ABP
...,...,...,...,...,...,...,...,...,...
248,248,5640,72,24,1,66,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
249,249,5641,74,24,1,66,EVALUACIÓN RIESGOS DEL PUESTO - TT,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
250,250,5642,69,20,1,66,PLAN ACOGIDA GENERAL,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
251,251,5644,70,20,1,66,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
252,252,5652,193,90,2,66,TRATAMIENTO TÉRMICO ABP B_N3,ACABADO_Tratamiento Térmico,Tratamiento Térmico ABP Bergara

In [92]:
#Nombre de columnas
Cursos_en_Programas.columns

Index(['Unnamed: 0', 'program_course_online_id', 'course_moodle_id',
       'conocimiento_id', 'num_periodo', 'program_id', 'course_moodle_id.1',
       'conocimiento_name', 'program_name'],
      dtype='object')

In [93]:
#Numero de columnas/filas
Cursos_en_Programas.shape

(253, 9)

In [94]:
Cursos_en_Programas.info

<bound method DataFrame.info of      Unnamed: 0  program_course_online_id  course_moodle_id  conocimiento_id  \
0             0                      5717                72               24
1             1                      5718                70               20
2             2                      5719               297              157
3             3                      5723               298              165
4             4                      5724               299               40
..          ...                       ...               ...              ...
248         248                      5640                72               24
249         249                      5641                74               24
250         250                      5642                69               20
251         251                      5644                70               20
252         252                      5652               193               90

     num_periodo  program_id  \
0              1         187
1              1         187
2              1         187
3              0         188
4              0         188
..           ...         ...
248            1          66
249            1          66
250            1          66
251            1          66
252            2          66

                                    course_moodle_id.1  \
0                         INTRODUCCIÓN EN PRL Y MA ABP
1                                     PLAN ACOGIDA ABP
2    CONTROL VISUAL GENÉRICO - LANDUGABEA IKUS KONT...
3        CONTROL VISUAL MEC.  GENÉRICO - IKUS KONTROLA
4               CONTROL VISUAL MEC - G2X IKUS KONTROLA
..                                                 ...
248                       INTRODUCCIÓN EN PRL Y MA ABP
249                 EVALUACIÓN RIESGOS DEL PUESTO - TT
250                               PLAN ACOGIDA GENERAL
251                                   PLAN ACOGIDA ABP
252                       TRATAMIENTO TÉRMICO ABP B_N3

                 conocimiento_name                     program_name
0    ACOGIDA PRL Y MEDIO AMBIENTE              Control Visual Bruto
1                  ACOGIDA GENERAL             Control Visual Bruto
2         ACABADO - Control Visual             Control Visual Bruto
3                       MECANIZADO           Control Visual Mec ABP
4                 MECANIZADO - G2X           Control Visual Mec ABP
..                             ...                              ...
248  ACOGIDA PRL Y MEDIO AMBIENTE   Tratamiento Térmico ABP Bergara
249  ACOGIDA PRL Y MEDIO AMBIENTE   Tratamiento Térmico ABP Bergara
250                ACOGIDA GENERAL  Tratamiento Térmico ABP Bergara
251                ACOGIDA GENERAL  Tratamiento Térmico ABP Bergara
252    ACABADO_Tratamiento Térmico  Tratamiento Térmico ABP Bergara

[253 rows x 9 columns]>

In [95]:
Cursos_en_Programas.dtypes

Unnamed: 0                   int64
program_course_online_id     int64
course_moodle_id             int64
conocimiento_id              int64
num_periodo                  int64
program_id                   int64
course_moodle_id.1          object
conocimiento_name           object
program_name                object
dtype: object

In [96]:
#Duplicados
Cursos_en_Programas.duplicated().sum() # busca duplicados de fila completa

0

In [97]:
#NA'S
Cursos_en_Programas.isna()
Cursos_en_Programas.isna().sum()

Unnamed: 0                  0
program_course_online_id    0
course_moodle_id            0
conocimiento_id             0
num_periodo                 0
program_id                  0
course_moodle_id.1          0
conocimiento_name           0
program_name                0
dtype: int64

In [98]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Cursos_en_Programas=Cursos_en_Programas.drop(['Unnamed: 0'], axis=1)

In [99]:
Cursos_en_Programas

,program_course_online_id,course_moodle_id,conocimiento_id,num_periodo,program_id,course_moodle_id.1,conocimiento_name,program_name
0,5717,72,24,1,187,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Control Visual Bruto
1,5718,70,20,1,187,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Control Visual Bruto
2,5719,297,157,1,187,CONTROL VISUAL GENÉRICO - LANDUGABEA IKUS KONT...,ACABADO - Control Visual,Control Visual Bruto
3,5723,298,165,0,188,CONTROL VISUAL MEC. GENÉRICO - IKUS KONTROLA,MECANIZADO,Control Visual Mec ABP
4,5724,299,40,0,188,CONTROL VISUAL MEC - G2X IKUS KONTROLA,MECANIZADO - G2X,Control Visual Mec ABP
...,...,...,...,...,...,...,...,...
248,5640,72,24,1,66,INTRODUCCIÓN EN PRL Y MA ABP,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
249,5641,74,24,1,66,EVALUACIÓN RIESGOS DEL PUESTO - TT,ACOGIDA PRL Y MEDIO AMBIENTE,Tratamiento Térmico ABP Bergara
250,5642,69,20,1,66,PLAN ACOGIDA GENERAL,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
251,5644,70,20,1,66,PLAN ACOGIDA ABP,ACOGIDA GENERAL,Tratamiento Térmico ABP Bergara
252,5652,193,90,2,66,TRATAMIENTO TÉRMICO ABP B_N3,ACABADO_Tratamiento Térmico,Tratamiento Térmico ABP Bergara

In [100]:
Itinearios

,Unnamed: 0,active_flag,category_id,date_enroll,enroll_end,program_id,remarks,tutor_academico_id,tutor_empresa_id,user_id,category_name,program_name
0,0,0,8,2020-05-04T00:00:00+01:00,2023-04-01T23:59:00+01:00,66,NaN,0,190,3,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,1,1,2,2021-07-22T00:00:00+01:00,NaN,145,NaN,0,50,3,DUAL,pruebas_01
2,2,1,8,2021-09-08T00:00:00+01:00,NaN,146,NaN,0,110,3,SOPORTE&OPERARIO,Operario Control Final CBI
3,3,0,2,2020-06-18T00:00:00+01:00,NaN,64,NaN,148,41,4,DUAL,ITI GRADO DUAL 2019-2020
4,4,0,2,2020-09-24T00:00:00+01:00,2021-06-30T23:59:00+01:00,135,NaN,148,41,4,DUAL,ITI GRADO DUAL 2020-2021
...,...,...,...,...,...,...,...,...,...,...,...,...
462,462,1,5,2021-10-25T00:00:00+01:00,NaN,163,NaN,0,286,433,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
463,463,1,5,2021-10-25T00:00:00+01:00,NaN,163,NaN,0,287,434,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
464,464,1,5,2021-10-25T00:00:00+01:00,NaN,163,NaN,0,285,435,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
465,465,1,8,2021-10-28T00:00:00+01:00,NaN,66,NaN,0,190,436,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
466,466,1,8,2021-10-28T00:00:00+01:00,NaN,188,NaN,0,190,436,SOPORTE&OPERARIO,Control Visual Mec ABP

In [101]:
#Nombre de columnas
Itinearios.columns

Index(['Unnamed: 0', 'active_flag', 'category_id', 'date_enroll', 'enroll_end',
       'program_id', 'remarks', 'tutor_academico_id', 'tutor_empresa_id',
       'user_id', 'category_name', 'program_name'],
      dtype='object')

In [102]:
#Numero de columnas/filas
Itinearios.shape

(467, 12)

In [103]:
Itinearios.info

<bound method DataFrame.info of      Unnamed: 0  active_flag  category_id                date_enroll  \
0             0            0            8  2020-05-04T00:00:00+01:00
1             1            1            2  2021-07-22T00:00:00+01:00
2             2            1            8  2021-09-08T00:00:00+01:00
3             3            0            2  2020-06-18T00:00:00+01:00
4             4            0            2  2020-09-24T00:00:00+01:00
..          ...          ...          ...                        ...
462         462            1            5  2021-10-25T00:00:00+01:00
463         463            1            5  2021-10-25T00:00:00+01:00
464         464            1            5  2021-10-25T00:00:00+01:00
465         465            1            8  2021-10-28T00:00:00+01:00
466         466            1            8  2021-10-28T00:00:00+01:00

                    enroll_end  program_id remarks  tutor_academico_id  \
0    2023-04-01T23:59:00+01:00          66     NaN                   0
1                          NaN         145     NaN                   0
2                          NaN         146     NaN                   0
3                          NaN          64     NaN                 148
4    2021-06-30T23:59:00+01:00         135     NaN                 148
..                         ...         ...     ...                 ...
462                        NaN         163     NaN                   0
463                        NaN         163     NaN                   0
464                        NaN         163     NaN                   0
465                        NaN          66     NaN                   0
466                        NaN         188     NaN                   0

     tutor_empresa_id  user_id     category_name  \
0                 190        3  SOPORTE&OPERARIO
1                  50        3              DUAL
2                 110        3  SOPORTE&OPERARIO
3                  41        4              DUAL
4                  41        4              DUAL
..                ...      ...               ...
462               286      433      ESPECIALISTA
463               287      434      ESPECIALISTA
464               285      435      ESPECIALISTA
465               190      436  SOPORTE&OPERARIO
466               190      436  SOPORTE&OPERARIO

                              program_name
0          Tratamiento Térmico ABP Bergara
1                               pruebas_01
2               Operario Control Final CBI
3                 ITI GRADO DUAL 2019-2020
4                 ITI GRADO DUAL 2020-2021
..                                     ...
462  Maquinista Mecanizados Autogestión MT
463  Maquinista Mecanizados Autogestión MT
464  Maquinista Mecanizados Autogestión MT
465        Tratamiento Térmico ABP Bergara
466                 Control Visual Mec ABP

[467 rows x 12 columns]>

In [104]:
#Tipos de variables
Itinearios.dtypes

Unnamed: 0             int64
active_flag            int64
category_id            int64
date_enroll           object
enroll_end            object
program_id             int64
remarks               object
tutor_academico_id     int64
tutor_empresa_id       int64
user_id                int64
category_name         object
program_name          object
dtype: object

In [105]:
#Corregimos fecha y hora de date_enroll y enroll_end
Itinearios['date_enroll']= pd.to_datetime(Itinearios['date_enroll'],utc=True)
Itinearios['enroll_end']= pd.to_datetime(Itinearios['enroll_end'],utc=True)
Itinearios

,Unnamed: 0,active_flag,category_id,date_enroll,enroll_end,program_id,remarks,tutor_academico_id,tutor_empresa_id,user_id,category_name,program_name
0,0,0,8,2020-05-03 23:00:00+00:00,2023-04-01 22:59:00+00:00,66,NaN,0,190,3,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,1,1,2,2021-07-21 23:00:00+00:00,NaT,145,NaN,0,50,3,DUAL,pruebas_01
2,2,1,8,2021-09-07 23:00:00+00:00,NaT,146,NaN,0,110,3,SOPORTE&OPERARIO,Operario Control Final CBI
3,3,0,2,2020-06-17 23:00:00+00:00,NaT,64,NaN,148,41,4,DUAL,ITI GRADO DUAL 2019-2020
4,4,0,2,2020-09-23 23:00:00+00:00,2021-06-30 22:59:00+00:00,135,NaN,148,41,4,DUAL,ITI GRADO DUAL 2020-2021
...,...,...,...,...,...,...,...,...,...,...,...,...
462,462,1,5,2021-10-24 23:00:00+00:00,NaT,163,NaN,0,286,433,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
463,463,1,5,2021-10-24 23:00:00+00:00,NaT,163,NaN,0,287,434,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
464,464,1,5,2021-10-24 23:00:00+00:00,NaT,163,NaN,0,285,435,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
465,465,1,8,2021-10-27 23:00:00+00:00,NaT,66,NaN,0,190,436,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
466,466,1,8,2021-10-27 23:00:00+00:00,NaT,188,NaN,0,190,436,SOPORTE&OPERARIO,Control Visual Mec ABP

In [106]:
#Tipos de variables corregido fecha y hora
Itinearios.dtypes

Unnamed: 0                          int64
active_flag                         int64
category_id                         int64
date_enroll           datetime64[ns, UTC]
enroll_end            datetime64[ns, UTC]
program_id                          int64
remarks                            object
tutor_academico_id                  int64
tutor_empresa_id                    int64
user_id                             int64
category_name                      object
program_name                       object
dtype: object

In [107]:
#Duplicados
Itinearios.duplicated().sum() # busca duplicados de fila completa

0

In [108]:
#NA'S
Itinearios.isna()
Itinearios.isna().sum()

Unnamed: 0              0
active_flag             0
category_id             0
date_enroll             1
enroll_end            297
program_id              0
remarks               464
tutor_academico_id      0
tutor_empresa_id        0
user_id                 0
category_name           0
program_name            0
dtype: int64

In [109]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
#Eliminamos la columna 'remarcks' ya que casi tiene un 100% de NA
#Eliminamos de momento la variable 'enroll_end' ya que tiene mas de un 60% de NA.
Itinearios=Itinearios.drop(['Unnamed: 0'], axis=1)
Itinearios=Itinearios.drop(['remarks'], axis=1)
Itinearios=Itinearios.drop(['enroll_end'], axis=1)

In [110]:
Itinearios

,active_flag,category_id,date_enroll,program_id,tutor_academico_id,tutor_empresa_id,user_id,category_name,program_name
0,0,8,2020-05-03 23:00:00+00:00,66,0,190,3,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
1,1,2,2021-07-21 23:00:00+00:00,145,0,50,3,DUAL,pruebas_01
2,1,8,2021-09-07 23:00:00+00:00,146,0,110,3,SOPORTE&OPERARIO,Operario Control Final CBI
3,0,2,2020-06-17 23:00:00+00:00,64,148,41,4,DUAL,ITI GRADO DUAL 2019-2020
4,0,2,2020-09-23 23:00:00+00:00,135,148,41,4,DUAL,ITI GRADO DUAL 2020-2021
...,...,...,...,...,...,...,...,...,...
462,1,5,2021-10-24 23:00:00+00:00,163,0,286,433,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
463,1,5,2021-10-24 23:00:00+00:00,163,0,287,434,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
464,1,5,2021-10-24 23:00:00+00:00,163,0,285,435,ESPECIALISTA,Maquinista Mecanizados Autogestión MT
465,1,8,2021-10-27 23:00:00+00:00,66,0,190,436,SOPORTE&OPERARIO,Tratamiento Térmico ABP Bergara
466,1,8,2021-10-27 23:00:00+00:00,188,0,190,436,SOPORTE&OPERARIO,Control Visual Mec ABP

In [111]:
Notas_Cursos

,Unnamed: 0,enroll_grade_id,active_flag,course_id,enroll_id,grade,online_progress,course_name,user_id,Unnamed: 8
0,0,17681,1,224,802,0.00,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,138,NaN
1,1,16572,1,224,771,9.32,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,262,NaN
2,2,16590,1,224,774,9.66,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,265,NaN
3,3,16578,1,224,772,NaN,NaN,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,263,NaN
4,4,16584,1,224,773,NaN,NaN,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,264,NaN
...,...,...,...,...,...,...,...,...,...,...
3893,3893,19558,1,278,838,NaN,NaN,Trazabilidad LPPFe MEC,311,NaN
3894,3894,19568,1,278,839,NaN,NaN,Trazabilidad LPPFe MEC,312,NaN
3895,3895,19578,1,278,840,NaN,NaN,Trazabilidad LPPFe MEC,313,NaN
3896,3896,19913,1,278,850,NaN,NaN,Trazabilidad LPPFe MEC,317,NaN
3897,3897,21551,1,278,885,NaN,NaN,Trazabilidad LPPFe MEC,324,NaN

In [112]:
Notas_Cursos.columns

Index(['Unnamed: 0', 'enroll_grade_id', 'active_flag', 'course_id',
       'enroll_id', 'grade', 'online_progress', 'course_name', 'user_id',
       'Unnamed: 8'],
      dtype='object')

In [113]:
Notas_Cursos.shape

(3898, 10)

In [114]:
Notas_Cursos.info

<bound method DataFrame.info of       Unnamed: 0  enroll_grade_id  active_flag  course_id  enroll_id  grade  \
0              0            17681            1        224        802   0.00
1              1            16572            1        224        771   9.32
2              2            16590            1        224        774   9.66
3              3            16578            1        224        772    NaN
4              4            16584            1        224        773    NaN
...          ...              ...          ...        ...        ...    ...
3893        3893            19558            1        278        838    NaN
3894        3894            19568            1        278        839    NaN
3895        3895            19578            1        278        840    NaN
3896        3896            19913            1        278        850    NaN
3897        3897            21551            1        278        885    NaN

      online_progress                           course_name  user_id  \
0                 0.0  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      138
1                 0.0  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      262
2                 0.0  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      265
3                 NaN  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      263
4                 NaN  A - FORMACIÓN ESPECÍFICA CALIDAD ABP      264
...               ...                                   ...      ...
3893              NaN                Trazabilidad LPPFe MEC      311
3894              NaN                Trazabilidad LPPFe MEC      312
3895              NaN                Trazabilidad LPPFe MEC      313
3896              NaN                Trazabilidad LPPFe MEC      317
3897              NaN                Trazabilidad LPPFe MEC      324

      Unnamed: 8
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
3893         NaN
3894         NaN
3895         NaN
3896         NaN
3897         NaN

[3898 rows x 10 columns]>

In [115]:
Notas_Cursos.dtypes

Unnamed: 0           int64
enroll_grade_id      int64
active_flag          int64
course_id            int64
enroll_id            int64
grade              float64
online_progress    float64
course_name         object
user_id              int64
Unnamed: 8         float64
dtype: object

In [116]:
#Duplicados
Notas_Cursos.duplicated().sum() #busca duplicados de fila completa

0

In [117]:
#NA'S
Notas_Cursos.isna()
Notas_Cursos.isna().sum()

Unnamed: 0            0
enroll_grade_id       0
active_flag           0
course_id             0
enroll_id             0
grade              2423
online_progress    2380
course_name           0
user_id               0
Unnamed: 8         3898
dtype: int64

In [118]:
#Duplicados
Notas_Cursos.duplicated(subset = ['grade', 'online_progress']).sum()

3656

In [119]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Notas_Cursos=Notas_Cursos.drop(['Unnamed: 0'], axis=1)

In [120]:
Notas_Cursos = Notas_Cursos.fillna(-999)

In [121]:
Notas_Cursos

,enroll_grade_id,active_flag,course_id,enroll_id,grade,online_progress,course_name,user_id,Unnamed: 8
0,17681,1,224,802,0.00,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,138,-999.0
1,16572,1,224,771,9.32,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,262,-999.0
2,16590,1,224,774,9.66,0.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,265,-999.0
3,16578,1,224,772,-999.00,-999.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,263,-999.0
4,16584,1,224,773,-999.00,-999.0,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,264,-999.0
...,...,...,...,...,...,...,...,...,...
3893,19558,1,278,838,-999.00,-999.0,Trazabilidad LPPFe MEC,311,-999.0
3894,19568,1,278,839,-999.00,-999.0,Trazabilidad LPPFe MEC,312,-999.0
3895,19578,1,278,840,-999.00,-999.0,Trazabilidad LPPFe MEC,313,-999.0
3896,19913,1,278,850,-999.00,-999.0,Trazabilidad LPPFe MEC,317,-999.0
3897,21551,1,278,885,-999.00,-999.0,Trazabilidad LPPFe MEC,324,-999.0

In [122]:
Roles

   Unnamed: 0  role_id    role_name
0           0        1    LBL_ADMIN
1           1        2  LBL_MANAGER
2           2        3    LBL_TUTOR
3           3        4  LBL_STUDENT

In [123]:
Roles.columns

Index(['Unnamed: 0', 'role_id', 'role_name'], dtype='object')

In [124]:
Roles.shape

(4, 3)

In [125]:
Roles.info

<bound method DataFrame.info of    Unnamed: 0  role_id    role_name
0           0        1    LBL_ADMIN
1           1        2  LBL_MANAGER
2           2        3    LBL_TUTOR
3           3        4  LBL_STUDENT>

In [126]:
#Tipo de variables
Roles.dtypes

Unnamed: 0     int64
role_id        int64
role_name     object
dtype: object

In [127]:
#Duplicados
Roles.duplicated().sum() #busca duplicados de fila completa

0

In [128]:
#NA'S
Roles.isna()
Roles.isna().sum()

Unnamed: 0    0
role_id       0
role_name     0
dtype: int64

In [129]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Roles=Roles.drop(['Unnamed: 0'], axis=1)

In [130]:
Roles

   role_id    role_name
0        1    LBL_ADMIN
1        2  LBL_MANAGER
2        3    LBL_TUTOR
3        4  LBL_STUDENT

In [131]:
Plantas

    Unnamed: 0  planta_id       planta_name
0            0          1       ABP Bergara
1            1          2      ABP Arrasate
2            2          3       ABP Kunshan
3            3          4        ABP México
4            4          5   MT Aretxabaleta
5            5          6     MT Eslovaquia
6            6          7               SAT
7            7          8    LPP Eskoriatza
8            8          9      LPD Arrasate
9            9         10       LPC Usurbil
10          10         11           Tafalla
11          11         12        GISEDERLAN
12          12         13            BRASIL
13          13         14           EDERTEK
14          14         15  BULEGO OROKORRAK
15          15         16      Fagorederlan
16          16         17            PLANTA
17          17         18      MT Aretxabal

In [132]:
Plantas=Plantas.drop(['Unnamed: 0'], axis=1)

In [133]:
Plantas.dtypes

planta_id       int64
planta_name    object
dtype: object

In [134]:
#Duplicados
Plantas.duplicated().sum() # busca duplicados de fila completa

0

In [135]:
#NA'S
Plantas.isna().sum()

planta_id      0
planta_name    0
dtype: int64

In [136]:
Plantas

    planta_id       planta_name
0           1       ABP Bergara
1           2      ABP Arrasate
2           3       ABP Kunshan
3           4        ABP México
4           5   MT Aretxabaleta
5           6     MT Eslovaquia
6           7               SAT
7           8    LPP Eskoriatza
8           9      LPD Arrasate
9          10       LPC Usurbil
10         11           Tafalla
11         12        GISEDERLAN
12         13            BRASIL
13         14           EDERTEK
14         15  BULEGO OROKORRAK
15         16      Fagorederlan
16         17            PLANTA
17         18      MT Aretxabal

In [137]:
Accesos

,Unnamed: 0,description,timestamp,mdl_user_id,user_id
0,0,LOGIN AS SRM OK,2021-09-14T13:26:51+01:00,3,134
1,1,LOGIN AS SRM OK,2021-10-13T10:54:42+01:00,3,134
2,2,LOGIN AS SRM OK,2021-10-13T11:53:33+01:00,3,134
3,3,LOGIN AS SRM OK,2021-10-14T14:28:42+01:00,3,134
4,4,LOGIN AS SRM OK,2021-10-14T14:30:07+01:00,3,134
...,...,...,...,...,...
8811,8811,LOGOUT AS SRM OK,2020-11-15T19:06:36Z,3,134
8812,8812,LOGOUT AS SRM OK,2020-11-15T19:12:58Z,3,134
8813,8813,LOGOUT AS SRM OK,2020-11-15T19:39:17Z,3,134
8814,8814,LOGOUT AS SRM OK,2021-10-13T10:39:17+01:00,3,134
8815,8815,LOGOUT AS SRM OK,2021-10-13T11:35:21+01:00,3,134

In [138]:
Accesos=Accesos.drop(['Unnamed: 0'], axis=1)

In [139]:
Accesos.dtypes

description    object
timestamp      object
mdl_user_id     int64
user_id         int64
dtype: object

In [140]:
Accesos['timestamp']= pd.to_datetime(Accesos['timestamp'],utc=True)

In [141]:
Accesos

           description                 timestamp  mdl_user_id  user_id
0      LOGIN AS SRM OK 2021-09-14 12:26:51+00:00            3      134
1      LOGIN AS SRM OK 2021-10-13 09:54:42+00:00            3      134
2      LOGIN AS SRM OK 2021-10-13 10:53:33+00:00            3      134
3      LOGIN AS SRM OK 2021-10-14 13:28:42+00:00            3      134
4      LOGIN AS SRM OK 2021-10-14 13:30:07+00:00            3      134
...                ...                       ...          ...      ...
8811  LOGOUT AS SRM OK 2020-11-15 19:06:36+00:00            3      134
8812  LOGOUT AS SRM OK 2020-11-15 19:12:58+00:00            3      134
8813  LOGOUT AS SRM OK 2020-11-15 19:39:17+00:00            3      134
8814  LOGOUT AS SRM OK 2021-10-13 09:39:17+00:00            3      134
8815  LOGOUT AS SRM OK 2021-10-13 10:35:21+00:00            3      134

[8816 rows x 4 columns]

In [142]:
Accesos.dtypes

description                 object
timestamp      datetime64[ns, UTC]
mdl_user_id                  int64
user_id                      int64
dtype: object

In [143]:
#Duplicados
Accesos.duplicated().sum() # busca duplicados de fila completa

26

In [144]:
Accesos=Accesos.drop_duplicates()

In [145]:
Accesos.duplicated().sum()

0

In [146]:
Accesos.isna().sum()

description    0
timestamp      0
mdl_user_id    0
user_id        0
dtype: int64

In [147]:
Acceso_1ero_ultimo

,Unnamed: 0,mdl_user_id,1er acceso,ultimo acceso
0,0,3,"jueves, 20 de septiembre de 2018, 12:19","viernes, 29 de octubre de 2021, 15:42"
1,1,10,"viernes, 28 de septiembre de 2018, 12:49","miércoles, 14 de julio de 2021, 16:28"
2,2,11,"sábado, 29 de septiembre de 2018, 18:35","martes, 5 de octubre de 2021, 10:12"
3,3,13,"martes, 2 de octubre de 2018, 09:46","jueves, 5 de agosto de 2021, 12:34"
4,4,14,"martes, 2 de octubre de 2018, 18:42","lunes, 19 de julio de 2021, 12:37"
...,...,...,...,...
367,367,457,--,--
368,368,458,--,--
369,369,459,--,--
370,370,460,--,--
371,371,461,"jueves, 28 de octubre de 2021, 15:43","jueves, 28 de octubre de 2021, 16:03"

In [148]:
Acceso_1ero_ultimo.dtypes

Unnamed: 0        int64
mdl_user_id       int64
1er acceso       object
ultimo acceso    object
dtype: object

In [149]:
Acceso_1ero_ultimo=Acceso_1ero_ultimo.drop(['Unnamed: 0'], axis=1)

In [150]:
#Duplicados
Acceso_1ero_ultimo.duplicated().sum() # busca duplicados de fila completa

0

In [151]:
Acceso_1ero_ultimo['1er acceso'][Acceso_1ero_ultimo['1er acceso']=="--"]=None
Acceso_1ero_ultimo['ultimo acceso'][Acceso_1ero_ultimo['ultimo acceso']=="--"]=None

<ipython-input-151-7c59f6b7e52e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Acceso_1ero_ultimo['1er acceso'][Acceso_1ero_ultimo['1er acceso']=="--"]=None
<ipython-input-151-7c59f6b7e52e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Acceso_1ero_ultimo['ultimo acceso'][Acceso_1ero_ultimo['ultimo acceso']=="--"]=None

In [152]:
Acceso_1ero_ultimo

,mdl_user_id,1er acceso,ultimo acceso
0,3,"jueves, 20 de septiembre de 2018, 12:19","viernes, 29 de octubre de 2021, 15:42"
1,10,"viernes, 28 de septiembre de 2018, 12:49","miércoles, 14 de julio de 2021, 16:28"
2,11,"sábado, 29 de septiembre de 2018, 18:35","martes, 5 de octubre de 2021, 10:12"
3,13,"martes, 2 de octubre de 2018, 09:46","jueves, 5 de agosto de 2021, 12:34"
4,14,"martes, 2 de octubre de 2018, 18:42","lunes, 19 de julio de 2021, 12:37"
...,...,...,...
367,457,None,None
368,458,None,None
369,459,None,None
370,460,None,None
371,461,"jueves, 28 de octubre de 2021, 15:43","jueves, 28 de octubre de 2021, 16:03"

In [153]:
Acceso_1ero_ultimo.isna().sum()

mdl_user_id       0
1er acceso       77
ultimo acceso    76
dtype: int64

In [154]:
Actividades

,Unnamed: 0,mdl_user_id,course_name,course_id,category,actividad_name,grade,time
0,0,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,NaN,NaN
1,1,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,NaN,NaN
2,2,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,9.32,2020-12-18 15:25:05
3,3,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.32,2020-12-18 15:25:05
4,4,299,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.66,2020-12-18 16:45:34
...,...,...,...,...,...,...,...,...
3459,3459,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,9.29,2021-06-14 16:36:31
3460,3460,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3461,3461,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3462,3462,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,10.00,2021-06-14 10:13:15
3463,3463,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,10.00,2021-06-14 10:13:15

In [155]:
Actividades=Actividades.drop(['Unnamed: 0'], axis=1)

In [156]:
Actividades

,mdl_user_id,course_name,course_id,category,actividad_name,grade,time
0,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,NaN,NaN
1,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,NaN,NaN
2,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,9.32,2020-12-18 15:25:05
3,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.32,2020-12-18 15:25:05
4,299,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.66,2020-12-18 16:45:34
...,...,...,...,...,...,...,...
3459,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,9.29,2021-06-14 16:36:31
3460,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3461,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3462,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,10.00,2021-06-14 10:13:15
3463,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,10.00,2021-06-14 10:13:15

In [157]:
Actividades.dtypes

mdl_user_id         int64
course_name        object
course_id           int64
category           object
actividad_name     object
grade             float64
time               object
dtype: object

In [158]:
Actividades['time']= pd.to_datetime(Actividades['time'])

In [159]:
Actividades.dtypes

mdl_user_id                int64
course_name               object
course_id                  int64
category                  object
actividad_name            object
grade                    float64
time              datetime64[ns]
dtype: object

In [160]:
#Duplicados
Actividades.duplicated().sum() # busca duplicados de fila completa

89

In [161]:
Actividades=Actividades.drop_duplicates()

In [162]:
Actividades.duplicated().sum()

0

In [163]:
Actividades.isna().sum()

mdl_user_id          0
course_name          0
course_id            0
category             0
actividad_name       4
grade             1278
time              1263
dtype: int64