In [138]:
import pandas as pd
import numpy as np
import datetime as dt

In [139]:
pd.options.display.max_columns = None

In [140]:
df = pd.read_excel('EDERJAKIN_LA_Datos_2021.xlsm', sheet_name=None)

In [141]:
for sheet_name in list(df.keys()):
   df[sheet_name].to_csv(sheet_name + 'Sheet.csv')

In [142]:
Usuarios = pd.read_csv('UsuariosSheet.csv')
Tutores_perfil = pd.read_csv('Tutores perfilSheet.csv')
Conocimientos = pd.read_csv('ConocimientosSheet.csv')
Cursos = pd.read_csv('CursosSheet.csv')
Programas = pd.read_csv('ProgramasSheet.csv')
Cursos_en_Programas = pd.read_csv('Cursos en ProgramasSheet.csv')
Itinearios = pd.read_csv('ItineariosSheet.csv')
Notas_Cursos = pd.read_csv('Notas_CursosSheet.csv')
Roles = pd.read_csv('RolesSheet.csv')
Plantas = pd.read_csv('PlantasSheet.csv')
Accesos = pd.read_csv('AccesosSheet.csv')
Acceso_1ero_ultimo = pd.read_csv('Acceso_1ero_ultimoSheet.csv')
Actividades = pd.read_csv('ActividadesSheet.csv')

In [143]:
Usuarios

,Unnamed: 0,user_id,useranonimo_name,active_flag,language,last_access,mdl_user_id,role_admin,role_manager,role_student,role_tutor,planta_name,Unnamed: 11
0,0,3,username_03,1,es,NaN,13.0,0,0,1,0,ABP Bergara,NaN
1,1,4,username_04,1,es,NaN,14.0,0,0,1,0,Fagorederlan,NaN
2,2,5,username_05,1,es,NaN,15.0,0,0,1,0,ABP Arrasate,NaN
3,3,6,username_06,1,es,NaN,17.0,0,0,1,0,Fagorederlan,NaN
4,4,7,username_07,1,es,NaN,18.0,0,0,1,0,ABP Arrasate,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,415,432,username_432,1,es,NaN,457.0,0,0,1,0,MT Aretxabaleta,NaN
416,416,433,username_433,1,es,NaN,458.0,0,0,1,0,MT Aretxabaleta,NaN
417,417,434,username_434,1,es,NaN,459.0,0,0,1,0,MT Aretxabaleta,NaN
418,418,435,username_435,1,es,NaN,460.0,0,0,1,0,MT Aretxabaleta,NaN
419,419,436,username_436,1,es,NaN,461.0,0,1,1,1,ABP Bergara,NaN

In [144]:
#Nombre de columnas
Usuarios.columns

Index(['Unnamed: 0', 'user_id', 'useranonimo_name', 'active_flag', 'language',
       'last_access', 'mdl_user_id', 'role_admin', 'role_manager',
       'role_student', 'role_tutor', 'planta_name', 'Unnamed: 11'],
      dtype='object')

In [145]:
#Numero de columnas/filas
Usuarios.shape

(420, 13)

In [146]:
Usuarios.info

<bound method DataFrame.info of      Unnamed: 0  user_id useranonimo_name  active_flag language  last_access  \
0             0        3      username_03            1       es          NaN
1             1        4      username_04            1       es          NaN
2             2        5      username_05            1       es          NaN
3             3        6      username_06            1       es          NaN
4             4        7      username_07            1       es          NaN
..          ...      ...              ...          ...      ...          ...
415         415      432     username_432            1       es          NaN
416         416      433     username_433            1       es          NaN
417         417      434     username_434            1       es          NaN
418         418      435     username_435            1       es          NaN
419         419      436     username_436            1       es          NaN

     mdl_user_id  role_admin  role_manager  role_student  role_tutor  \
0           13.0           0             0             1           0
1           14.0           0             0             1           0
2           15.0           0             0             1           0
3           17.0           0             0             1           0
4           18.0           0             0             1           0
..           ...         ...           ...           ...         ...
415        457.0           0             0             1           0
416        458.0           0             0             1           0
417        459.0           0             0             1           0
418        460.0           0             0             1           0
419        461.0           0             1             1           1

         planta_name  Unnamed: 11
0        ABP Bergara          NaN
1       Fagorederlan          NaN
2       ABP Arrasate          NaN
3       Fagorederlan          NaN
4       ABP Arrasate          NaN
..               ...          ...
415  MT Aretxabaleta          NaN
416  MT Aretxabaleta          NaN
417  MT Aretxabaleta          NaN
418  MT Aretxabaleta          NaN
419      ABP Bergara          NaN

[420 rows x 13 columns]>

In [147]:
#Tipos de variables
Usuarios.dtypes

Unnamed: 0            int64
user_id               int64
useranonimo_name     object
active_flag           int64
language             object
last_access         float64
mdl_user_id         float64
role_admin            int64
role_manager          int64
role_student          int64
role_tutor            int64
planta_name          object
Unnamed: 11         float64
dtype: object

In [148]:
#Duplicados
Usuarios.duplicated().sum() # busca duplicados de fila completa

0

In [149]:
#NA'S
Usuarios.isna()
#Eliminamos last_acceses por %100 de NA'S 
Usuarios.isna().sum()

Unnamed: 0            0
user_id               0
useranonimo_name      0
active_flag           0
language              0
last_access         420
mdl_user_id          15
role_admin            0
role_manager          0
role_student          0
role_tutor            0
planta_name           0
Unnamed: 11         420
dtype: int64

In [150]:
Usuarios["mdl_user_id"] = Usuarios["mdl_user_id"].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
#Se quitan o no 15 mdl_user_id en caso de que no necesitemos la variable
Usuarios=Usuarios.dropna(subset = ['mdl_user_id'])

In [ ]:
Tutores_perfil

In [ ]:
Tutores_perfil.columns

In [ ]:
Tutores_perfil=Tutores_perfil.drop(['Unnamed: 0'], axis=1)

In [ ]:
#Tipos de variables
Tutores_perfil.dtypes

In [ ]:
#Duplicados
Tutores_perfil.duplicated().sum() # busca duplicados de fila completa

In [ ]:
#NA'S
Tutores_perfil.isna()
#Eliminamos last_acceses por %100 de NA'S 
Tutores_perfil.isna().sum()

In [ ]:
Tutores_perfil.shape

In [ ]:
Tutores_perfil = Tutores_perfil.fillna("Tutores basicos")

In [ ]:
Tutores_perfil

In [ ]:
Conocimientos

In [ ]:
#Nombre de columnas
Conocimientos.columns

In [ ]:
Conocimientos=Conocimientos.drop(['Unnamed: 0'], axis=1)
Conocimientos=Conocimientos.drop(['color'], axis=1)

In [ ]:
#Tipos de variables
Conocimientos.dtypes

In [ ]:
#Duplicados
Conocimientos.duplicated().sum() # busca duplicados de fila completa

In [ ]:
#NA'S
Conocimientos.isna()
#Eliminamos last_acceses por %100 de NA'S 
Conocimientos.isna().sum()

In [ ]:
Conocimientos.shape

In [ ]:
Conocimientos=Conocimientos.drop(['description'], axis=1)
Conocimientos=Conocimientos.drop(['referencia'], axis=1)

In [ ]:
Conocimientos = Conocimientos.fillna("Sin asignar")

In [ ]:
Cursos

In [ ]:
#Nombre de columnas
Cursos.columns

In [ ]:
Cursos=Cursos.drop("course_shortname",axis=1)
Cursos=Cursos.drop("Unnamed: 0",axis=1)

In [ ]:
#Tipos de variables
Cursos.dtypes

In [ ]:
#Duplicados
Cursos.duplicated().sum() # busca duplicados de fila completa

In [ ]:
Cursos.shape

In [ ]:
#NA'S
Cursos.isna()
#Eliminamos last_acceses por %100 de NA'S 
Cursos.isna().sum()

In [ ]:
Cursos = Cursos.fillna("No especificado")

In [ ]:
Programas

In [ ]:
#Nombre de columnas
Programas.columns

In [ ]:
#Numero de columnas/filas
Programas.shape

In [ ]:
Programas.info

In [ ]:
#Tipos de variables
Programas.dtypes

In [ ]:
#Duplicados
Programas.duplicated().sum() # busca duplicados de fila completa

In [ ]:
#NA'S
Programas.isna()
Programas.isna().sum()

In [ ]:
#Eliminamos la fila que contiene NA en program_category_id.
Programas=Programas.dropna(axis = 0, how = 'any') 
Programas.isna().sum()

In [ ]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Programas=Programas.drop(['Unnamed: 0'], axis=1)

In [ ]:
Programas

In [ ]:
Cursos_en_Programas

In [ ]:
#Nombre de columnas
Cursos_en_Programas.columns

In [ ]:
#Numero de columnas/filas
Cursos_en_Programas.shape

In [ ]:
Cursos_en_Programas.info

In [ ]:
Cursos_en_Programas.dtypes

In [ ]:
#Duplicados
Cursos_en_Programas.duplicated().sum() # busca duplicados de fila completa

In [ ]:
#NA'S
Cursos_en_Programas.isna()
Cursos_en_Programas.isna().sum()

In [ ]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Cursos_en_Programas=Cursos_en_Programas.drop(['Unnamed: 0'], axis=1)

In [ ]:
Cursos_en_Programas

In [ ]:
Itinearios

In [ ]:
#Nombre de columnas
Itinearios.columns

In [ ]:
#Numero de columnas/filas
Itinearios.shape

In [ ]:
Itinearios.info

In [ ]:
#Tipos de variables
Itinearios.dtypes

In [ ]:
#Corregimos fecha y hora de date_enroll y enroll_end
Itinearios['date_enroll']= pd.to_datetime(Itinearios['date_enroll'],utc=True)
Itinearios['enroll_end']= pd.to_datetime(Itinearios['enroll_end'],utc=True)
Itinearios

In [ ]:
#Tipos de variables corregido fecha y hora
Itinearios.dtypes

In [ ]:
#Duplicados
Itinearios.duplicated().sum() # busca duplicados de fila completa

In [ ]:
#NA'S
Itinearios.isna()
Itinearios.isna().sum()

In [ ]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
#Eliminamos la columna 'remarcks' ya que casi tiene un 100% de NA
#Eliminamos de momento la variable 'enroll_end' ya que tiene mas de un 60% de NA.
Itinearios=Itinearios.drop(['Unnamed: 0'], axis=1)
Itinearios=Itinearios.drop(['remarks'], axis=1)
Itinearios=Itinearios.drop(['enroll_end'], axis=1)

In [ ]:
Itinearios

In [ ]:
Notas_Cursos

In [ ]:
Notas_Cursos.columns

In [ ]:
Notas_Cursos.shape

In [ ]:
Notas_Cursos.info

In [ ]:
Notas_Cursos.dtypes

In [ ]:
#Duplicados
Notas_Cursos.duplicated().sum() #busca duplicados de fila completa

In [ ]:
#NA'S
Notas_Cursos.isna()
Notas_Cursos.isna().sum()

In [ ]:
#Duplicados
Notas_Cursos.duplicated(subset = ['grade', 'online_progress']).sum()

In [ ]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Notas_Cursos=Notas_Cursos.drop(['Unnamed: 0'], axis=1)

In [ ]:
Notas_Cursos = Notas_Cursos.fillna(-999)

In [ ]:
Notas_Cursos

In [ ]:
Roles

In [ ]:
Roles.columns

In [ ]:
Roles.shape

In [ ]:
Roles.info

In [ ]:
#Tipo de variables
Roles.dtypes

In [ ]:
#Duplicados
Roles.duplicated().sum() #busca duplicados de fila completa

In [ ]:
#NA'S
Roles.isna()
Roles.isna().sum()

In [ ]:
#Eliminamos la columna 'Unnamed: 0' ya que no aporta valor.
Roles=Roles.drop(['Unnamed: 0'], axis=1)

In [ ]:
Roles

In [ ]:
Plantas

In [ ]:
Plantas=Plantas.drop(['Unnamed: 0'], axis=1)

In [ ]:
Plantas.dtypes

In [ ]:
#Duplicados
Plantas.duplicated().sum() # busca duplicados de fila completa

In [ ]:
#NA'S
Plantas.isna().sum()

In [ ]:
Plantas

In [ ]:
Accesos

In [ ]:
Accesos=Accesos.drop(['Unnamed: 0'], axis=1)

In [ ]:
Accesos.dtypes

In [ ]:
Accesos['timestamp']= pd.to_datetime(Accesos['timestamp'],utc=True)

In [ ]:
Accesos

In [ ]:
Accesos.dtypes

In [ ]:
#Duplicados
Accesos.duplicated().sum() # busca duplicados de fila completa

In [ ]:
Accesos=Accesos.drop_duplicates()

In [ ]:
Accesos.duplicated().sum()

In [ ]:
Accesos.isna().sum()

In [ ]:
Acceso_1ero_ultimo

In [ ]:
Acceso_1ero_ultimo.dtypes

In [ ]:
Acceso_1ero_ultimo=Acceso_1ero_ultimo.drop(['Unnamed: 0'], axis=1)

In [ ]:
#Duplicados
Acceso_1ero_ultimo.duplicated().sum() # busca duplicados de fila completa

In [ ]:
Acceso_1ero_ultimo['1er acceso'][Acceso_1ero_ultimo['1er acceso']=="--"]=None
Acceso_1ero_ultimo['ultimo acceso'][Acceso_1ero_ultimo['ultimo acceso']=="--"]=None

In [ ]:
Acceso_1ero_ultimo

In [ ]:
Acceso_1ero_ultimo.isna().sum()

In [ ]:
Acceso_1ero_ultimo.duplicated(subset = ['1er acceso', 'ultimo acceso']).sum()

In [ ]:
Acceso_1ero_ultimo[Acceso_1ero_ultimo.duplicated(subset = ['1er acceso', 'ultimo acceso'])].fillna('NUNCA')

In [ ]:
Acceso_1ero_ultimo[Acceso_1ero_ultimo.duplicated(subset = ['1er acceso', 'ultimo acceso'])]=Acceso_1ero_ultimo[Acceso_1ero_ultimo.duplicated(subset = ['1er acceso', 'ultimo acceso'])].fillna('NUNCA')

In [ ]:
Acceso_1ero_ultimo.isna().sum()

In [ ]:
Acceso_1ero_ultimo[Acceso_1ero_ultimo['1er acceso'].isna()]

In [ ]:
Acceso_1ero_ultimo[Acceso_1ero_ultimo['1er acceso'].isna()]='NUNCA'

In [ ]:
Acceso_1ero_ultimo.isna().sum()

In [ ]:
Acceso_1ero_ultimo

In [ ]:
Actividades

In [ ]:
Actividades=Actividades.drop(['Unnamed: 0'], axis=1)

In [ ]:
Actividades

In [ ]:
Actividades.dtypes

In [ ]:
Actividades['time']= pd.to_datetime(Actividades['time'])

In [ ]:
Actividades.dtypes

In [ ]:
#Duplicados
Actividades.duplicated().sum() # busca duplicados de fila completa

In [ ]:
Actividades=Actividades.drop_duplicates()

In [ ]:
Actividades.duplicated().sum()

In [ ]:
Actividades.isna().sum()

In [155]:
Actividades=Actividades[Actividades.duplicated(subset = ['grade', 'time'])].fillna('-999')

In [156]:
Actividades

,Unnamed: 0,mdl_user_id,course_name,course_id,category,actividad_name,grade,time
1,1,190,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,-999,-999
3,3,296,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,TEST FINAL,9.32,2020-12-18 15:25:05
5,5,299,A - FORMACIÓN ESPECÍFICA CALIDAD ABP,224,TÉCNICOS/TECNOLÓGICOS ABP,A - FORMACIÓN ESPECÍFICA CALIDAD ABP - Total,9.66,2020-12-18 16:45:34
7,7,296,A - INTRODUCCIÓN MECANIZADO,223,TÉCNICOS/TECNOLÓGICOS ABP,A - INTRODUCCIÓN MECANIZADO - Total,8.85,2020-12-18 14:54:05
8,8,296,A - INTRODUCCIÓN MECANIZADO,223,TÉCNICOS/TECNOLÓGICOS ABP,TEST,-999,-999
...,...,...,...,...,...,...,...,...
3456,3456,190,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,-999,-999
3457,3457,190,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,-999,-999
3459,3459,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,9.29,2021-06-14 16:36:31
3461,3461,21,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,Trazabilidad LPPFe MEC - Total,9.29,2021-06-14 16:36:32
3463,3463,339,Trazabilidad LPPFe MEC,278,Técnico / Tecnológico LPPFE,TEST - Enbalajearen etiketa / Etiquetado de em...,10.0,2021-06-14 10:13:15

In [157]:
Actividades.isna().sum()

Unnamed: 0        0
mdl_user_id       0
course_name       0
course_id         0
category          0
actividad_name    0
grade             0
time              0
dtype: int64